<div style="width:100%; display:flex; flex-direction:column;" class="container full-height">
  <div class="row  top-row">
    <div class="col-sm-3"></div>
    <div class="row" style="flex: 10; margin: 0; border-width: 0">
      <div style="width: 80%;">
        <mat-datepicker-toggle matSuffix [for]="picker" style="height: 60px;"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
        &nbsp;
        <button type="button" (click)="decrementDate();">
          <i class="fa fa-caret-square-o-left" style="font-size:20px;"></i>
        </button>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [value]="date" (dateChange)="dateChange($event.value)">
        <button type="button" (click)="incrementDate();">
          <i class="fa fa-caret-square-o-right" style="font-size:20px;"></i>
        </button>
        <span *ngIf="!fullUpdate">
          Last Update: {{ lastUpdate | date: 'h:mm:ss'}}{{ lastUpdate | date: 'a' | lowercase}}
        </span>
      </div>
      <div style="width:10%">
        <button type="button" (click)="RecalcData();">
          Recalc Data
        </button>
      </div>
      <div style="width:10%">
        <button type="button" (click)="ResetMaximums();">
          Reset Maximums
        </button>
      </div>
    </div>
  </div>

  <div class="row" style="flex: 10; margin: 0; border-width: 0">
    <app-history-chart #chart style="width:90%; margin: 0;" class="row partial-height"></app-history-chart>
    <canvas #barCanvas style="width:10%; margin: 0;" class="row partial-height"></canvas>
  </div>



</div>
