<div style="width:100%;" class="full-height">
  <!--<div class="row" style="height:80px;"></div>-->
  <div class="row  top-row">
    <div class="col-sm-3"></div>
    <div>

      <mat-button-toggle-group #group="matButtonToggleGroup" [value]="displayType">

        <mat-button-toggle value="day" (change)="displayTypeChanged($event.value)">
          <label style="font-size:25px;">Day</label>
        </mat-button-toggle>
        <mat-button-toggle value="week" (change)="displayTypeChanged($event.value)">
          <label style="font-size:25px;">Week</label>
        </mat-button-toggle>
        <mat-button-toggle value="month" (change)="displayTypeChanged($event.value)">
          <label style="font-size:25px;">Month</label>
        </mat-button-toggle>

        <div>
          <mat-datepicker-toggle matSuffix [for]="picker" style="height: 60px;"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
          &nbsp;
          <button type="button" (click)="decrementDate();">
            <i class="fa fa-caret-square-o-left" style="font-size:20px;"></i>
          </button>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [value]="date" (dateChange)="dateChange($event.value)">
          <button type="button" (click)="incrementDate();">
            <i class="fa fa-caret-square-o-right" style="font-size:20px;"></i>
          </button>
        </div>
      </mat-button-toggle-group>
    </div>
  </div>
  <div ng-view style="width: 100%; height: 580px;" class="partial-height">
    <app-chart #chart style="width:100%; height: 620px;" class="partial-height"></app-chart>
  </div>
  <!-- Particle_0p5           Particle_1p0           Particle_2p5           Particle_4p0           Particle_10p0          TypicalParticleSize    Oxygen                 CO2                    CO                     Temperature            Humidity               timestamp
  -->
  <div class="radio-btn-group">
    <mat-button-toggle style="height: 42px;" [checked]="showParticle_0p5" (change)="showParticle_0p5 = $event.source.checked; RequestRead();">
      <label style="border: 0; margin: 0; margin-bottom: -2px; margin-top: -7px; padding: 0; height: 12px; vertical-align: top;" class="radio-btn radio-btn-secondary radio-select-btn">Particle 0.5&#181;m</label>
      <hr style="width: 100px; height: 5px; border: 0; margin-bottom: 0; margin-top: -20px; overflow: hidden; background-color:green;" />
    </mat-button-toggle>
    <mat-button-toggle style="height: 42px;" [checked]="showParticle_1p0" (change)="showParticle_1p0 = $event.source.checked; RequestRead();">
      <label style="border: 0; margin: 0; margin-bottom: -2px; margin-top: -7px; padding: 0; height: 12px; vertical-align: top;" class="radio-btn radio-btn-secondary radio-select-btn">Particle 1.0&#181;m</label>
      <hr style="width: 100px; height: 5px; border: 0; margin-bottom: 0; margin-top: -20px; overflow: hidden; background-color:blueviolet;" />
    </mat-button-toggle>
    <mat-button-toggle style="height: 42px;" [checked]="showParticle_2p5" (change)="showParticle_2p5 = $event.source.checked; RequestRead();">
      <label style="border: 0; margin: 0; margin-bottom: -2px; margin-top: -7px; padding: 0; height: 12px; vertical-align: top;" class="radio-btn radio-btn-secondary radio-select-btn">Particle 2.5&#181;m</label>
      <hr style="width: 100px; height: 5px; border: 0; margin-bottom: 0; margin-top: -20px; overflow: hidden; background-color:cadetblue;" />
    </mat-button-toggle>
    <mat-button-toggle style="height: 42px;" [checked]="showParticle_4p0" (change)="showParticle_4p0 = $event.source.checked; RequestRead();">
      <label style="border: 0; margin: 0; margin-bottom: -2px; margin-top: -7px; padding: 0; height: 12px; vertical-align: top;" class="radio-btn radio-btn-secondary radio-select-btn">Particle 4.0&#181;m</label>
      <hr style="width: 100px; height: 5px; border: 0; margin-bottom: 0; margin-top: -20px; overflow: hidden; background-color:aqua;" />
    </mat-button-toggle>
    <mat-button-toggle style="height: 42px;" [checked]="showParticle_10p0" (change)="showParticle_10p0 = $event.source.checked; RequestRead();">
      <label style="border: 0; margin: 0; margin-bottom: -2px; margin-top: -7px; padding: 0; height: 12px; vertical-align: top;" class="radio-btn radio-btn-secondary radio-select-btn">Particle 10.0&#181;m</label>
      <hr style="width: 100px; height: 5px; border: 0; margin-bottom: 0; margin-top: -20px; overflow: hidden; background-color:rosybrown;" />
    </mat-button-toggle>
    <mat-button-toggle style="height: 42px;" [checked]="showTypicalParticleSize" (change)="showTypicalParticleSize = $event.source.checked; RequestRead();">
      <label style="border: 0; margin: 0; margin-bottom: -2px; margin-top: -7px; padding: 0; height: 12px; vertical-align: top;" class="radio-btn radio-btn-secondary radio-select-btn">Typical Particle Size (&#181;m)</label>
      <hr style="width: 100px; height: 5px; border: 0; margin-bottom: 0; margin-top: -20px; overflow: hidden; background-color:orange;" />
    </mat-button-toggle>
    <mat-button-toggle style="height: 42px;" [checked]="showOxygen" (change)="showOxygen = $event.source.checked; RequestRead();">
      <label style="border: 0; margin: 0; margin-bottom: -2px; margin-top: -7px; padding: 0; height: 12px; vertical-align: top;" class="radio-btn radio-btn-secondary radio-select-btn">Oxygen (%)</label>
      <hr style="width: 100px; height: 5px; border: 0; margin-bottom: 0; margin-top: -20px; overflow: hidden; background-color:orangered;" />
    </mat-button-toggle>
    <mat-button-toggle style="height: 42px;" [checked]="showCO2" (change)="showCO2 = $event.source.checked; RequestRead();">
      <label style="border: 0; margin: 0; margin-bottom: -2px; margin-top: -7px; padding: 0; height: 12px; vertical-align: top;" class="radio-btn radio-btn-secondary radio-select-btn">CO2 (ppm)</label>
      <hr style="width: 100px; height: 5px; border: 0; margin-bottom: 0; margin-top: -20px; overflow: hidden; background-color:black;" />
    </mat-button-toggle>
    <mat-button-toggle style="height: 42px;" [checked]="showCO" (change)="showCO = $event.source.checked; RequestRead();">
      <label style="border: 0; margin: 0; margin-bottom: -2px; margin-top: -7px; padding: 0; height: 12px; vertical-align: top;" class="radio-btn radio-btn-secondary radio-select-btn">CO (ppm)</label>
      <hr style="width: 100px; height: 5px; border: 0; margin-bottom: 0; margin-top: -20px; overflow: hidden; background-color:darkblue;" />
    </mat-button-toggle>
    <mat-button-toggle style="height: 42px;" [checked]="showTemperature" (change)="showTemperature = $event.source.checked; RequestRead();">
      <label style="border: 0; margin: 0; margin-bottom: -2px; margin-top: -7px; padding: 0; height: 12px; vertical-align: top;" class="radio-btn radio-btn-secondary radio-select-btn">Temperature &#8451;</label>
      <hr style="width: 100px; height: 5px; border: 0; margin-bottom: 0; margin-top: -20px; overflow: hidden; background-color:hotpink;" />
    </mat-button-toggle>
    <mat-button-toggle style="height: 42px;" [checked]="showHumidity" (change)="showHumidity = $event.source.checked; RequestRead();">
      <label style="border: 0; margin: 0; margin-bottom: -2px; margin-top: -7px; padding: 0; height: 12px; vertical-align: top;" class="radio-btn radio-btn-secondary radio-select-btn">Humidity (%)</label>
      <hr style="width: 100px; height: 5px; border: 0; margin-bottom: 0; margin-top: -20px; overflow: hidden; background-color:pink;" />
    </mat-button-toggle>
  </div>
</div>
