<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EnvoyService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <EnvoyService.Properties.Settings>
            <setting name="PollPeriod" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ConnectString" serializeAs="String">
                <value>Persist Security Info=False;Integrated Security=SSPI; database = Electricity; server = Server</value>
            </setting>
            <setting name="EnvoyToken" serializeAs="String">
                <value></value>
            </setting>
            <setting name="EnvoyHostname" serializeAs="String">
                <value>10.0.0.216</value>
            </setting>
        </EnvoyService.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
      <trace autoflush="true" indentsize="4">
        <listeners>
          <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log"/>
          <remove name="Default"/>
        </listeners>
      </trace>
    </system.diagnostics>
</configuration>
