<div style="width:100%; display:flex; flex-direction:column;" class="container full-height">
  <div class="row top-row" >
    <div class="col-sm-2"></div>
    <div class="row">
      <div class="row">{{deviceName}}</div>
      <div>
        <input type="radio" value="today" name="displayType" [(ngModel)]="displayType" (change)="redrawChart();"> Today
        <input type="radio" value="hours" name="displayType" [(ngModel)]="displayType" (change)="redrawChart();"> Hours
        <input type="radio" value="days" name="displayType" [(ngModel)]="displayType" (change)="redrawChart();"> Days
        <input type="radio" value="months" name="displayType" [(ngModel)]="displayType" (change)="redrawChart();"> Months
        <span></span>
        <input type="checkbox" name="showPower" [(ngModel)]="showPower" (click)="redrawChart();"> Power
        <input type="checkbox" name="showEnergy" [(ngModel)]="showEnergy" (click)="redrawChart();"> Energy
      </div>
    </div>
    <div>
      <input [(ngModel)]="startDate" (dateChange)="redrawChart();" matInput [matDatepicker]="picker1" placeholder="Choose a date (1)">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </div>
  </div>

  <div *ngIf="useCanvas" class="row" style="flex: 10;">
    <canvas #chartCanvas style="width:100%;" class="row partial-height"></canvas>
  </div>

  <div #tableDiv style="overflow-y: scroll; overflow-x:hidden;" class="partial-height">
    <table *ngIf="!useCanvas && displayType=='hours'" style="flex:10; width:100%; height: 100%;" class="hoursHeatMap">
      <tr *ngFor="let day of grid" class="row">
        <td>{{day.date | date: 'd LLL yyyy' }}</td>
        <td *ngFor="let h of range"
            [style.background-color]="day.hours[h]===undefined?'transparent':day.hours[h].colour"
            [title]="day.hours[h]===undefined?'':day.hours[h].title">
          <p *ngIf="day.hours[h]!==undefined"></p>
        </td>
      </tr>
    </table>
    <table *ngIf="!useCanvas && displayType=='days'" style="flex:10; width:100%;" class="daysHeatMap">
      <tr *ngFor="let month of grid" class="row">
        <td>{{month.date | date: 'LLL yyyy' }}</td>
        <td *ngFor="let h of range"
            [style.background-color]="month.days[h]===undefined?'transparent':month.days[h].colour"
            [title]="month.days[h]===undefined?'':month.days[h].title"
            >
          <p *ngIf="month.days[h]!==undefined"></p>
        </td>
      </tr>
    </table>
  </div>
</div>
