<div style="width:100%;" class="full-height">
  <!--<div class="row" style="height:80px;"></div>-->
  <div class="row  top-row">
    <div class="col-sm-3"></div>

      <mat-button-toggle-group #group="matButtonToggleGroup" [value]="displayType">

        <mat-button-toggle value="week" (change)="displayTypeChanged($event.value)">
          <label style="font-size:25px;">Week</label>
        </mat-button-toggle>
        <mat-button-toggle value="month" (change)="displayTypeChanged($event.value)">
          <label style="font-size:25px;">Month</label>
        </mat-button-toggle>

      </mat-button-toggle-group>

    <div>
      <mat-datepicker-toggle matSuffix [for]="picker" style="height: 60px;"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
      &nbsp;
      <button type="button" (click)="decrementDate();">
        <i class="fa fa-caret-square-o-left" style="font-size:20px;"></i>
      </button>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [value]="date" (dateChange)="dateChange($event.value)">
      <button type="button" (click)="incrementDate();">
        <i class="fa fa-caret-square-o-right" style="font-size:20px;"></i>
      </button>
    </div>
  </div>
  <div ng-view style="width: 100%; height: 620px;" class="partial-height">
    <app-chart #chart style="width:100%; height: 620px;" class="partial-height"></app-chart>
  </div>
  <div>
    <select [(ngModel)]="selectedTank" (click)="tankChanged();">
      <option *ngFor="let t of tanks;" [ngValue]="t.deviceId">
        {{t.deviceName}}
      </option>
    </select>
  </div>
  <div class="radio-btn-group">
    <mat-button-toggle style="height: 42px;" [checked]="showFlow" (change)="showFlow = $event.source.checked; RequestReadTankWaterer();">
      <label style="border: 0; margin: 0; margin-bottom: -2px; margin-top: -7px; padding: 0; height: 12px; vertical-align: top;" class="radio-btn radio-btn-secondary radio-select-btn">Tank Flow (l)</label>
      <hr style="width: 100px; height: 5px; border: 0; margin-bottom: 0; margin-top: -20px; overflow: hidden; background-color:Blue;" />
    </mat-button-toggle>
    <mat-button-toggle style="height: 42px;" [checked]="showVolume" (change)="showVolume = $event.source.checked; RequestReadTankWaterer();">
      <label style="border: 0; margin: 0; margin-bottom: -2px; margin-top: -7px; padding: 0; height: 12px; vertical-align: top;" class="radio-btn radio-btn-secondary radio-select-btn">Volume (l)</label>
      <hr style="width: 100px; height: 5px; border: 0; margin-bottom: 0; margin-top: -20px; overflow: hidden; background-color:Aqua;" />
    </mat-button-toggle>
    <mat-button-toggle style="height: 42px;" [checked]="showMoisture" (change)="showMoisture = $event.source.checked; RequestReadTankWaterer();">
      <label style="border: 0; margin: 0; margin-bottom: -2px; margin-top: -7px; padding: 0; height: 12px; vertical-align: top;" class="radio-btn radio-btn-secondary radio-select-btn">Moisture</label>
      <hr style="width: 100px; height: 5px; border: 0; margin-bottom: 0; margin-top: -20px; overflow: hidden; background-color:YellowGreen;" />
    </mat-button-toggle>
    <mat-button-toggle style="height: 42px;" [checked]="showTemperature" (change)="showTemperature = $event.source.checked; RequestReadTankWaterer();">
      <label style="border: 0; margin: 0; margin-bottom: -2px; margin-top: -7px; padding: 0; height: 12px; vertical-align: top;" class="radio-btn radio-btn-secondary radio-select-btn">Temperature (&deg;C)</label>
      <hr style="width: 100px; height: 5px; border: 0; margin-bottom: 0; margin-top: -20px; overflow: hidden; background-color:GoldenRod;" />
    </mat-button-toggle>
  </div>
</div>
